<div class="box">
  <div class="card-box" id="about">
    <div class="card">
      <div class="body">
        <span class="name">{{ u.name }}</span><i class="activated-{{ u.verified }}"></i>
        <div class="sep"></div>
        <span class="accessories">
          北京林业大学
          <div class="sep"></div>
            <span class="title">课程总数</span> {{ len(u.courses.values()) }}
            <span class="title">当前学分积</span> {{ u.current_GPA }}
            <span class="title">全程学分积</span> {{ u.GPA }}
          {% if len(u.rank) == 4 %}
            <span class="title">暂无排名</span>
          {% else %}
            <span class="title">班级</span> {{ u.rank.split(u"、")[0][5:] }}
            <span class="title">专业</span> {{ u.rank.split(u"、")[1][5:] }}
          {% end %}
        </span>
      </div>
    </div>
  </div>
  <div class="swipe" id="report"><div class="swipe-wrap">
  {% for t in u.terms %}
  <div class="slide">
    <div class="card-box">
      <div class="heading">
        <span>{{ t[:4] }}-{{ int(t[:4])+1 }}学年</span>
        <div class="sep"></div>
        <span>第{{ t[-1] }}学期</span>
      </div>
    {% for i, c in enumerate([c for c in u.courses.values() if t in c.term]) %}
      <div class="card">
        <table><tbody><tr>
          <td class="no"><span>{{ i+1 }}</span></td>
          <td class="body">
            <span class="subject">{{ c.subject }}</span>
            <div class="sep"></div>
            <span class="accessories">
              <span class="title">学分</span> {{ c.point }}
            </span>
          </td>
          <td class="score"><span>{{ c.score }}</span></td>
        </tr></tbody></table>
      </div>
    {% end %}
      <div class="footer">
        <span>{{ t[:4] }} · {{t[-1]}}</span>
      </div>
    </div>
  </div>
  {% end %}
  </div></div>
</div>
<script src="{{ static_url('js/swipe.js') }}"></script>