{% extends base.html %}

{% block title %}Login - Noven Admin{% end %}

{% block head %}<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.0.0.min.js"></script>
    <script type="text/javascript" src="{{ static_url('js/admin.js') }}"></script>{% end %}

{% block body %}<div style="text-align:center;">
    <form action="/admin" method="post" style="margin:auto;">
        {{ xsrf_form_html() }}
        <div class=""><input class="" name="password" type="password" autofocus="autofocus" /></div>
        <div class=""><input class="" type="submit" value="提交" /></div>
    </form>
</div>{% end %}
