{% extends base.html %}

{% block title %}Main - Noven Admin{% end %}

{% block head %}<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ static_url('js/admin.js') }}"></script>{% end %}

{% block body %}<div style="text-align:center;color:white;">
<form method="post"><table style="margin:auto;">
{{ xsrf_form_html() }}
<tr>
    <th>&nbsp;</th>
    <th>name</th>
    <th>usercode</th>
    <th>mobileno</th>
    <th>verified</th>
    <th>len(courses)</th>
    <th>current_GPA</th>
    <th>GPA</th>
    <th>rank</th>
    <th>weixin id</th>
</tr>
{% for user in userlist %}<tr>
    <td><input type="checkbox" name="uc" value="{{ user.usercode }}"/></td>
    <td>{{ user.name }}</td>
    <td><a href="/admin/user/{{ user.usercode }}">{{ user.usercode }}</a></td>
    <td>{{ user.mobileno }}</td>
    <td>{{ user.verified }}</td>
    <td>{{ len(user.courses) }}</td>
    <td>{{ user.current_GPA }}</td>
    <td>{{ user.GPA }}</td>
    <td>{{ user.rank }}</td>
    <td>{{ user.wx_id }}</td>
</tr>{% end %}
</table>
<div class="msg-ctrl">
    <div><textarea name="msg" cols="50" rows="3"></textarea></div>
    <div><input formaction="/admin/msg" type="submit" value="发送"/></div>
</div>
</form>
</div>{% end %}
