{% extends base.html %}

{% block title %}登记 - Noven{% end %}

{% block head %}<link rel="stylesheet" href="{{ static_url('css/reg.css') }}">{% end %}

{% block body %}<div class="box reg-box">
  <div class="left">
    <form action="/" method="post">
      {{ xsrf_form_html() }}
    {% if t and s %}
      <input type="hidden" id="t" name="t" value="{{ t }}"/>
      <input type="hidden" id="s" name="s" value="{{ s }}"/>
    {% end %}
      <div class="reg-item">
        <label for="uc">学号</label>
        <input id="uc" class="input" name="uc" type="text" maxlength="10" autocomplete="off" />
      </div>
      <div class="reg-item">
        <label for="up">密码</label>
        <input id="up" class="input" name="up" type="password" />
      </div>
    {% if t and s %}
      <div class="reg-item">
        <p style="font-size:12px;color:#eee;"><b>手机号码</b>与<b>飞信密码</b>同时选填</p>
      </div>
    {% end %}
      <div class="reg-item">
        <label for="mc">手机号码</label>
        <input id="mc" class="input" name="mc" type="text" maxlength="11" autocomplete="off" />
      </div>
      <div class="reg-item">
        <label for="mp">飞信密码</label>
        <input id="mp" class="input" name="mp" type="password" />
      </div>
      <div class="reg-item">
        <label>&nbsp;</label>
        <input class="input btn" type="submit" value="登记" />
      </div>
    </form>
  </div>
  <script type="text/javascript" src="{{ static_url('js/reg.js') }}"></script>
  <div class="right">
    <div class="tips">
      <p>&gt; Noven 帮您轻松掌握成绩动态</p>
      <p>&gt; 已有 {{ total }} 人在使用 Noven</p>
    </div>
  </div>
  <div class="clear"></div>
</div>{% end %}
