/* Global Settings */

body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Arial, STHeiti, SimHei, sans-serif;
    font-size: 14px;
    background-color: #262626;
}

a {
    text-decoration: none;
    color: #38bfec;
    font-size: 12px;
}

a:hover {
    color: #dc3205;
}

/* Header & Logo */

#header {
    background-color: #38bfec;
    width: 100%;
    height: 100px;
}

#logo-container {
    max-width: 540px;
    padding-top: 12.5px;
    margin: auto;
}

#logo {
    background: url("../img/logo_middle.png") no-repeat;
    height: 75px;
    width: 200px;
    display: inline-block;
}

/* Main */

#main {
    color: white;
    max-width: 540px;
    margin: auto;
}

.box {
    margin: auto;
}

/* msg-box Style */

.msg-box {
    text-align: left;
    padding: 60px 20px;
}

/* Useful Helpers */

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
    width: 100%;
}

.sep5 {
    /*height: 5px;*/
}

/* Responsive Stuff */

@media (max-width: 767px) {
    #header {
        height: 60px;
    }

    #logo-container {
        padding-top: 11px;
    }

    #logo {
        background: url("../img/logo_small.png") no-repeat;
        height: 38px;
        width: 100px;
        margin-left: 10px
    }

    .left,
    .right {
        float: none;
    }
}