body {
    margin: 0 0 0 auto;
    background-color:#262626;
    font: 14px arial,sans-serif;
}

a {
    text-decoration: none;
    color: #38bfec;
    font-size: 12px;
}

a:hover {
    color: #dc3205;
}

/* Header & Logo */

#header {
    background-color:#38bfec;
    width:100%;
    height:100px;
}

#logo-container {
    max-width: 540px;
    padding-top: 12.5px;
    margin: auto;
    height: 87.5px;
}

#logo {
    background: url("../img/logo_middle.png") no-repeat;
    height: 75px;
    display: block;
}

/* Footer */

#footer {
    margin: auto;
    color: white;
    max-width: 540px;
    border-top: 1px solid #606060;
    height: 35px;
    margin-top: 10px;

    /* Hide Footer */
    display: none;
}

#footer ul {
    list-style: none;
    width: 200px;
    float: right;
    text-align: right;
    margin-top: 8px;
}

#footer ul li {
    display: inline;
    margin: auto 10px auto 10px;
}

#footer a {
    color: white;
    display: none;
}

#copyright {

}

/* msg-box Style */

.msg-box {
    text-align: left;
    color: white;
    padding-top: 60px;
    height: 420px;
    max-width: 480px;
    margin: auto;
}

/* Responsive msg-box */

@media (max-width: 767px) {
    .msg-box {
        width: 80%;
        height: 100%;
    }
}
