.reg-box {
    color: white;
    padding-top: 60px;
    height: 420px;
    max-width: 480px;
    margin: auto;
}

.reg-box form {
    float: left;
}

.reg-item {
    margin: 18px auto;
}

.reg-box label {
    text-align: right;
    width: 60px;
    line-height: 30px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
}

.input{
    width: 180px;
    height: 18px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #CCC;
}

.btn{
    width:192px;
    background:grey;
    border:none;
    color:white;
    height:30px;
}

.btnValid {
    background-color: #cd2405;
}

#mobileno {
    display: inline-block;
    border: 0;
    color: white;
    font-size: 16px;
}

.tips {
    float: right;
    text-align: left;
    padding-top: 20px;
    font-size: 12px;
    color: white;
}

@media (max-width: 767px) {
    .reg-box, .reg-box  form, .reg-box  label , .tips  {
        width: 100%;
        text-align: center;
        padding-top: 0;
    }

    .reg-item  {
        margin: 8px auto;
    }

    .reg-box  label  {
        margin-right: 0;
    }
}
