.reg-box {
    padding: 60px 10px;
}

.reg-item {
    margin: 25px auto;
}

.reg-box label {
    text-align: right;
    width: 60px;
    /*line-height: 30px;*/
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
}

.input {
    width: 200px;
    height: 18px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.btn {
    width: 212px;
    background: #808080;
    border: none;
    color: white;
    height: 30px;
}

.btnValid {
    background-color: #cd2405;
}

#mobileno {
    display: inline-block;
    border: 0;
    color: white;
    font-size: 16px;
}

.tips {
    text-align: left;
    padding-top: 20px;
    font-size: 12px;
    color: white;
}

@media (max-width: 767px) {
    .reg-box {
        text-align: center;
        padding-top: 0;
    }

    .reg-box form {
        padding: 20px 0;
    }

    .tips {
        text-align: center;
        padding-top: 0;
    }
}
