/* Each slide */

.slide {
    max-width: 540px;
}

/* Card box */

.card-box {
    min-width: 200px;
    margin: 20px 10px;
    border-bottom: 2px #ddd solid;
    border-radius: 3px;
    background: #fff;
}

.card-box .heading {
    padding: 5px 10px;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: bold;
    color: #999;

    border-bottom: 1px #ddd solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card-box .footer {
    background: #f5f5f5;
    color: #ccc;
    font-size: 12px;
    padding: 5px 10px;
    text-align: right;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.card {
    padding: 8px 10px;
    color: black;
    border-bottom: 1px #ddd solid;
}

.card table {
    padding: 0;
    border: 0;
    width: 100%;
}

.card .accessories {
    text-align: left;
    font-size: 12px;
    color: #999;
    /*line-height: 8px;*/
}

.accessories .title {
    display: inline-block;
    padding: 2px 4px;
    margin-top: 4px;
    color: #aaa;
    background: #f5f5f5;
    border-radius: 2px;
}

.card .name {
    font-size: 20px;
    font-weight: bold;
}

.card .subject {
    font-size: 16px;
    /*font-weight: bold;*/
}

.card .no {
    font-size: 12px;
    width: 12px;
    text-align: center;
    /*border-right: 1px #ddd solid */
}

.card .body {
    width: auto;
    padding-left: 10px;
}

.card .score {
    width: 40px;
    text-align: center;
}

.card .score span {
    /*line-height: 16px;*/
    font-weight: bold;
    color: white;
    /*background-color: #e5e5e5;*/
    background-color: #aab0c6;
    display: inline-block;
    padding: 1px 10px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    text-decoration: none;
    margin-right: 5px;
}

.activated-True {
    /*background: url(../img/activated.png) no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;*/
}

/* Swipe 2 required styles */

.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}

/*Keep the space between slides and about*/

.swipe .card-box {
    margin-top: 0;
}